@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:host {
  font-family: 'Josefin Sans', sans-serif;
  min-width: 75em;
  max-width: 75em;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 75em;
  margin-bottom: 30px;
}